@font-face {
    font-family: 'title';
    src: url('/assets/fonts/pressstart2p.ttf');
}

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html {
    height: 100%;
}

a {
    color: #FF0;
}

a:hover {
    color:#F0F;
}

body {
    background-color: #000;
    color: #FFF;
    font-family: monospace;
    margin: 0;
    min-height: 100%;
}

#header {
    padding: 1em;
}

h1, h2 {
    font-family: 'title';
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

#header__links {
    font-weight: bold;
    text-transform: uppercase;
}

#header__title {
    line-height: 1em;
}

img {
    image-rendering: pixelated;
}

#logo {
    height: 64px;
    width: 64px;
}

#main {
    padding: 1em;
}

.game {
    margin-bottom: 2em;
}

.game__title {
    margin-bottom: 0.25em;
}

.game__thumbnail {
    outline: 0 solid #FFF;
    font-size: 0;
    max-width: 100%;
    transition: outline 0.1s linear;
}

.game__thumbnail:hover {
    outline-width: 4px;
    outline-color: #000 #FFF #FFF #000;
}

.game__thumbnail img,
.game__thumbnail video {
    aspect-ratio: 16/9;
    width: 100%;
}

.game__thumbnail:hover img,
.game__thumbnail:not(:hover) video {
    display: none;
}

.game__actions {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.game__actions::before {
    content: "\25B6";
}

.game__actions > li {
    border-right: 1px solid #FFF;
    padding: 0 1em;
    text-transform: uppercase;
}

.game__actions > li:last-child {
    border-right-width: 0;
}

@media (min-width: 1000px) {
    h1 {
        font-size: 64px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    #header {
        position: fixed;
        top: 0;
        width: 384px;
    }
    
    #main {
        margin-left: 400px;
    }
    
    .game__thumbnail {
        width: 320px;
    }
}

@media (max-width:999px) {
    #header__links {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    #header__links > li {
        padding: 0.25em;
        text-align: center;
        width: 50%;
    }
    
    #header__logo {
        margin: auto;
        width: 64px;
    }
    
    #header__title {
        margin: auto;
        width: 192px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .game__thumbnail {
        max-width: 640px;
        width: 100%;
    }
}
